---
import Layout from "@layouts/MainLayout.astro";
import Booking from "@components/elements/forms/fortsatningskursForm.astro";


import tandemLanding from "@assets/images/tandem/sommar-1536x1536.jpg";
import sommarSkutan from "@assets/images/tandem/sommarskutan1.jpg";
import topStugan from "@assets/images/tandem/tandem_stugan.jpg";


import Divider1 from  "@elements/SeparatorLine.astro";

const BookingPageContent = {
    bookingPage: 'boka',
}


const TandemPriceCardContent = {
bookingPage: 'boka',
  tandemProducts:[
    {
      title: "Tandemflyg",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "1.800 kr",
      foto: 0,
    },
    {
      title:  "Tandemflyg med film/foto",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "2.200 kr",
      foto: 1,
    }
  ],
}




---
<Layout
title="Boka tandemflyg hos Skysport i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Tandemflyg, Paragliding, Åre"
>
    <section class="pt-30">
        <Divider1 />
    </section>
   
    <Booking content={BookingPageContent}/> 

</Layout>

