---
import Layout from "@layouts/MainLayout.astro";

import FeatureMain from "@components/sections/3imagefeature.astro";
import KursInfo from  "@sections/Feature-50-50.astro";
import hummlnHang from "@assets/images/kurs/hang-po-hummln.jpg";

import TusanStart from "@assets/images/kurs/1000berg.jpg";
import SunnyStart from "@assets/images/kurs/IMG_7038.jpg";
import BergImg1 from "@assets/images/kurs/p12.jpg";
import BergImg3 from "@assets/images/kurs/IMG_7621.jpg";
import BergImg4 from "@assets/images/mellanmullfjallet27.jpg";

import Divider1 from  "@elements/SeparatorLine.astro";
import Topper from  "@elements/navTopper.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Pilot 2" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];


const BookingCtaContent = {
  title: 'Pilot 2',
  text: 'Denna kurs passar dig som har avslutat en grundkurs och vill samla flyg för att så småningom kunna ta Pilot 1 licens. Inträdeskrav för att deltaga på kursen är Studentlicens. Om du inte har bergsbehörigheten sedan tidigare, tar du den samtidigt som du samlar flyg.',
  ctaBild: hummlnHang,
    buttons: [
    {
      text: "Boka Samla Flyg",
      link: "/Kurs/Fort/boka",
      target: "_self",
    },
  ],
}

const Feature50Content = {
     infoTitle: 'Pilot 2',
     infoOrientationL: true,
     infoColL: 'sm:order-1',
     infoColR: 'sm:order-2',
     infoAnchorLink: 'berg',
     infoDescription: '',
     isTandemPage: false,
     isKursPage: true,
     infoText: [
      {
        preText: 'Pilot 2 är den högsta licensen du kan ha inom skärmflygning. Därför lägger denna utbildningen extra mycket fokus på teori. Du skall läsa samtliga kapitel i boken ”Lär dig flyga skärm”. Dessutom komplettera med SSFF:s föreskrifter. Vi håller också extra fördjupad teoriundervisning för flyglära och flygmanövrar.',
        spanText: '',
        spanClasses: '',
        postText: '',
      },
     ],
    infoImg:  BergImg1,
    infoIcon: '',
    buttons: [
      {
        text: "Boka Pilot 2",
        link: "/Kurs/Fort/boka",
        target: "_self",
      },
    ],
}
const Feature50Content3 = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-2',
     infoColR: 'sm:order-1',
     infoAnchorLink: 'berg3',
     infoDescription: '',
     isTandemPage: false,
     isKursPage: true,
     infoText: [
      {
        preText: ' Uppflygningen består av minst 5 st flyg där du uppvisar att du behärskar flygning i stigande luft på ett bra sätt. Du skall ha en bra och säker flygteknik i både hang och termik. Pricklandning skall ske inom en radie på 20 meter (4 av 5 flyg). Klarar du dessa moment, inkl teoriprovet, samt bedöms lämplig, erhåller du Pilot 2 licens.',
        spanText: '',
        spanClasses: '',
        postText: '',
      }, 
      {
        preText: ' ',
        spanText: '',
        spanClasses: '',
        postText: '',
      }, 
     ],
    infoImg:  BergImg3,
    infoIcon: '',
    buttons: [
      {
        text: "Boka Pilot 2",
        link: "/Kurs/Fort/boka",
        target: "_self",
      },
    ],
}


---
<Layout title="Skysport Skärmflygskola i Åre Pilot 1 utbildning" description="" keywords="">
  <Topper />
    <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
      <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
          <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
              points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
      </Breadcrumbs>
  </div>  

  <KursInfo content={Feature50Content}/>
  <KursInfo content={Feature50Content3}/>
 
 
</Layout>

