---
//export const prerender = false;

import Layout from "@layouts/MainLayout.astro";
import Booking from "@components/elements/forms/Grundkursform.astro";
import Divider1 from  "@elements/SeparatorLine.astro";


const schemaDate = Astro.url.searchParams.get("startdate") || "";
const BookingPageContent = {
    bookingPage: 'Boka',
    schemaDate: schemaDate,
}


---

<Layout
title="Boka grundkurs hos Skysport Skärmflygskola i Åre"
description=" "
keywords=" "
>
<section class="pt-30">
        <Divider1 />
    </section>
    <Booking content={BookingPageContent}/> 
</Layout>


