---
import Layout from "@layouts/MainLayout.astro";
import KursInfo from  "@sections/Feature-50-50.astro";

import BergImg1 from "@assets/images/kurs/hummeln4.jpg";
import BergImg2 from "@assets/images/kurs/gondola-winter.jpg";
import ParamotorFAQ from '@sections/faqPara.astro';

import Divider1 from  "@elements/SeparatorLine.astro";
import Topper from  "@elements/navTopper.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Paramotor" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];



const Feature50Content = {
     infoTitle: 'Paramotor Kurs',
     infoOrientationL: true,
     infoColL: 'sm:order-1',
     infoColR: 'sm:order-2',
     infoAnchorLink: 'berg',
     infoDescription: '',
     isTandemPage: false,
     isKursPage: true,
     infoText: [
      {
        preText: 'Här är du inte beroende av ett berg, en vinsch eller ett speciellt flygställe. Du kan gå ut på närmsta öppna fält och starta. En flygskärm med ett motorpaket är det allra enklaste och smidigaste sättet att flyga. Motorpaketet går att plocka isär, skärmen viker du ihop och du kan få in hela din ”flygmaskin” i bagageluckan på din bil. På ryggen har du en motor med propeller, och ovanför dig en vanlig flygskärm. Ett enkelt gasreglage som du håller i handen bestämmer hastigheten, normalt ca 30-60 km/h. Du kan starta och landa på vilket öppet fält som helst.',
        spanText: '',
        spanClasses: '',
        postText: '',
      },
     ],
    infoImg:  BergImg1,
    infoIcon: '',
   /*  buttons: [
      {
        text: "Boka Berg Kursen",
        link: "/Kurs/Fort/boka",
        target: "_self",
      },
    ], */
}

const Feature50Content2 = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-2',
     infoColR: 'sm:order-1',
     infoAnchorLink: 'berg2',
     infoDescription: '',
     isTandemPage: false,
     isKursPage: true,
     infoText: [
      {
        preText: 'Ett motorpaket består av en speciellt anpassad sele, ram, propeller och motor. Bensin tillkommer. Bensinen i en motor räcker för ca 3 timmars flygning. På så lång tid kan man flyga en ganska lång sträcka. Man flyger ca 30-35 km/h. Det som har betydelse för hur långt man kan flyga är om man flyger med eller mot vinden. Det går snabbare med vinden, och långsammare mot vinden. Helst vill man vid paramotorflygning ha så lite vind som möjligt eftersom det då går lättare att återvända till utgångspunkten. Men i starten vill man gärna ha vind (2-3 m/s) eftersom det då går enklare att få upp skärmen och komma upp i luften. Att starta i vindstilla går också, men kräver att man har en mycket god startteknik.',
        spanText: '',
        spanClasses: '',
        postText: '',
      },

     ],
    infoImg:  BergImg2,
    infoIcon: '',
   /*  buttons: [
      {
        text: "Boka Berg Kursen",
        link: "/Kurs/Fort/boka",
        target: "_self",
      },
    ], */
}






---

<Layout title="Paramotor" description="" keywords="">
  <Topper />
    <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
      <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
          <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
              points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
      </Breadcrumbs>
    </div> 
    <Divider1 />

    <KursInfo content={Feature50Content}/>
    <KursInfo content={Feature50Content2}/>
    <ParamotorFAQ />

</Layout>
