---
import Layout from "@layouts/MainLayout.astro";

import { Image } from "astro:assets";


import Button from '@components/ui/Button.astro';

import TandemPilots from "@components/sections/Instruktorer.astro";
import PilotCTA from "@components/sections/InnerHero.astro"

import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";


const InnerHeroImage = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/img/tandem/hummeln-sommar.jpg"

const customLastPart = [
  { index: "last", text: "Instruktörer" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];








---

<Layout
title="Skysport Skärmflyg Instruktörer"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>

 
  <!-- Hero -->
<!-- <div class="mt-40 px-4 sm:px-6 lg:px-8 ">
    <div class="relative md:h-[60dvh]  overflow-hidden  rounded-2xl">
                    <Image
                    src={InnerHeroImage}
                    alt="Tandem Pilots"
                   inferSize
                    class="w-full  object-cover"
                    quality={70}
                    format="webp"
                    loading="eager"
                    decoding="async"
                /> 
    
   
    <div class="  absolute w-full   z-10 flex flex-col h-auto items-center justify-center ">
            <h4 class="text-lg md:text-3xl lg:text-5xl sm:text-white dark:text-slate-100 lg:text-amber-600">
                Skysports Tandempiloter 2026
            </h4>
    </div>
 </div>
</div> -->
<!-- End Hero -->
 
 <div class="header-offset relative ">&nbsp;</div><!-- header pusher -->
  <div class="absolute top-22   sm:top-30 py-4 pt-6 px-4 sm:px-8 sm:pt-4 md:top-32 md:py-8 md:pt-5 md:px-12 lg:top-32 lg:pt-6 lg:h-32 dark:text-slate-200">
    <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
        <svg
            slot="index"
            aria-label="Home Page"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
            points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <svg
            slot="separator"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </Breadcrumbs>
</div> 



<TandemPilots />

   
</Layout>
