---
import Hr1 from "@components/elements/SeparatorLine.astro";


---

<form class="flex flex-col space-y-2" method="POST">
    <input id="hs-email-nyhetsbrev" name="hs-email-nyhetsbrev" type="email" autocomplete="email" placeholder="E-post"
        class="px-4 py-2 bg-slate-800 border border-slate-700 rounded-lg text-white placeholder-gray-500 focus:outline-none focus:border-orange-500"
    />
    <button id="newsSubmit" type="submit" class="bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-lg font-semibold transition-colors" >
        Prenumerera
    </button>
</form>

<script is:inline>

  //const get = (id) => document.getElementById(id) || { value: '' }
  const submitNewsForm = () => {
    sendNewsmail()
  }

  const getNewsFormData = () => {
    const store = Object.create(null)
  
    store.email = document.getElementById('hs-email-nyhetsbrev').value
    store.subject = 'Skysports Nyhetsbrev'
      
    return store
  }

  //const submitNewsBtn = document.querySelector('[type="submit"]')
  const submitNewsBtn = document.getElementById('newsSubmit')
  submitNewsBtn?.addEventListener('click', submitNewsForm)

  const sendNewsmail = async () => {
    //console.log('sending email step 1')
    //alert('getting form data?')
    const {  email, subject } = getNewsFormData()
    const data = await fetch('/api/sendAnmalanNyhetsBrev.json', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ email, subject }),
    })
      .then((res) => {
        if (!res.ok) {
          throw new Error(res.status)
        }
        return res.json()
      })
      .catch((err) => {
        console.log('Error', err)
        throw new Error('Network error.')
      })

    console.log(data) // Here is the response from backend
    alert('Message successfully sent');
    document.getElementById("booking-form").reset();
  }

</script>




