---
import Layout from "@layouts/MainLayout.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import HeroImage from '@assets/images/paraglide-are.jpg';
import Feature50 from  "@sections/Feature-50-50.astro";
import SivImage from '@assets/images/kurs/siv-inslagg.jpg';
import SivForm from "@components/elements/forms/SIVForm.astro";
import Divider1 from  "@elements/SeparatorLine.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "SIV (säkerhetskurs)" },
  {
    "data-link": "Kurs",
    "aria-label": "Go to the home page",
    text: "Kurs",
  },
  {
    "data-link": "Fort",
    "aria-label": "Go to the about page",
    text: "Fortsättningskurser",
  },
];

const myVideo ="https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/SIV/SIV2.mp4";
const mobVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/SIV/siv-mobile.mp4";

const VideoContent = {
    backgroundVideo: myVideo,
     mobileVideo: mobVideo,
    overlayOpacity: 0.2,
    page: "tandem",
    position: "justify-end"
}

const HeroContent = {
    title: "Tandemflyg hos Skysport",
    description: "A good place to start.",
    backgroundImage: HeroImage,
    overlayOpacity: 0.2
}

const Feature50Content = {
     infoTitle: 'Säkerhetskurs i Åre',
     infoText: [
      {
        preText: 'Man kan välja att göra hela kursen eller endast vissa delar. Alla manövrar görs över Åresjön. Bemannad upphämtningsbåt finns på plats. ',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Piloten skall bära flytväst och radio. Innan kursen går vi igenom alla manövrar på video.Vi går igenom moment för moment efteråt.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Kursen tar ca 2-3 dagar med bra väder. Antalet flyg för att hinna med alla ovanstående moment är ca 4-5 stycken. ',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'För att kunna gå säkerhetskursen måste du ha gilitig elevlicens eller annan licens av högre nivå. Kursen arrangeras under perioden juni-september.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
    infoImg:  SivImage,
    infoIcon: '',
}
---

<Layout title="Skysport Tandemflyg i Åre" description="" keywords="" >
<!--    <Topper /> -->
    <VideoHero content={VideoContent}/>  
    <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
      <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
          <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
              points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
      </Breadcrumbs>
  </div> 
  <Divider1 />
  <Feature50 content={Feature50Content} />
  <SivForm />
</Layout>
