/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";


@import "preline/variants.css";
@import "preline/src/plugins/datepicker/styles.css";
@source "preline/dist/*.js";
@source "../../node_modules/preline/dist/*.js";


@import "flatpickr/dist/flatpickr.css";
@import "flatpickr/dist/themes/dark.css";
@import "./cookiebanner.css";





@theme {


  --color-bs-surface-0: #121212;
  --color-bs-surface-1: #18181B;
  --color-bs-surface-2: rgba(255, 255, 255, 0.03);
  --color-bs-surface-3: #2F2F31;

  --color-bs-foreground-light: #eee;
  --color-bs-foreground-dark: #9f9f9f;

  --ease-bs-bounce: linear(0,.01,.04 1.6%,.161 3.3%,.816 9.4%,1.046,1.189 14.4%,1.231,1.254 17%,1.259,1.257 18.6%,1.236,1.194 22.3%,1.057 27%,.999 29.4%,.955 32.1%,.942,.935 34.9%,.933,.939 38.4%,1 47.3%,1.011,1.017 52.6%,1.016 56.4%,1 65.2%,.996 70.2%,1.001 87.2%,1);

  --ease-bs-spring: linear(
    0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
    1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
    1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
    0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1);
  
 




  --font-brand: "Instrument Serif", ui-sans-serif, system-ui, Noto Sans SC, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans: "Inter", ui-sans-serif, system-ui, Noto Sans SC, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-body: "Inter", ui-sans-serif, system-ui, Noto Sans SC, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --max-screen: 1200px;
  --inner-screen: 800px;

 

  --color-neutral-50: #f7f9fc;
  --color-neutral-100: #edf1f8;
  --color-neutral-200: #dfe4ed;
  --color-neutral-300: #c5cedb;
  --color-neutral-400: #92a1b7;
  --color-neutral-500: #677487;
  --color-neutral-600: #4f5a6d;
  --color-neutral-700: #3f4a5a;
  --color-neutral-800: #2c3542;
  --color-neutral-900: #19222f;
  --color-neutral-950: #10161f;



  --color-primary: #2d6dc3;
  --color-primary-rgb: 45, 109, 195;
  --color-primary-strong: #0066ff;
  --color-primary-dark: #3360AE;
  --color-primary-light: #8fb9ff;
  --color-primary-light-dark: #bcd8ff;
  --color-primary-lighter: #6da7ff;
  /* Article-specific variables */
  --color-primary-bg: var(--color-bg-primary-light);
  --color-primary-bg-light: var(--color-bg-secondary);


  --color-btn-primary: #2d6dc3;
  --color-btn-primary-hover: #0066ff;
  --color-btn-primary-dark: #2871e9;
  --color-btn-primary-dark-hover: #2d6dc3;

  /* Accent colors */
  --color-accent: #fad13b;
  --color-accent-light: #faeb75;

  /* Background colors */

  --color-bg-primary: #fdfaf5;
  --color-bg-secondary: #fff;
  --color-bg-primary-light: #faf9f5;
  --color-bg-primary-deep: #fefcf4;

  --color-bg-primary-dark: #0b1220;
  --color-bg-secondary-dark: #0f1b2d;


  /* Text colors */
  --color-text-primary: #2d6dc3;
/*     --color-text-primary: #fff; */
  --color-text-secondary: #3f4a5a;
  --color-text-tertiary: #7a6550;

  --color-text-primary-dark: #3884eb;
  /*  --color-text-primary-dark: #ff3;*/
  --color-text-secondary-dark: #c5cedb;
  --color-text-tertiary-dark: #9bb3d7;
}

/* Dark mode variable overrides */
html.dark {
  --color-primary-rgb: 56, 132, 235;
  --color-primary-light-dark: #3884eb;
  --color-primary-lighter: #8fb9ff;
  --color-primary-bg: rgba(56, 132, 235, 0.15);
  --color-primary-bg-light: rgba(56, 132, 235, 0.05);
}

/* Add typography styles */
@layer components {
  .font-brand{
    font-weight: 400!important;
  }
  .prose {
    max-width: 65ch;
  }
  .prose img {
    border-radius: 30px;
  }
  .container{
    max-width: var(--max-screen);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .site-container {
    max-width: var(--max-screen);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-container {
    max-width: var(--inner-screen);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gradient-title {
    background: linear-gradient(to right, #746aff, #0b046d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
 .gradient-title-light{
    background: linear-gradient(to right, #bcb7ff, #746aff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
html,body{
  color: var(--color-text-secondary);
}
html.dark,html.dark body{
  color: var(--color-text-secondary-dark);
}
h1,h2,h3{
  color:var(--color-text-primary);
}
html.dark h1,html.dark h2,html.dark h3{
  color:var(--color-text-primary-dark);
}

/* Custom CSS styles */
#sun {
  transform: rotate(0);
}

#moon {
  transform: rotate(0);
}

#darkToggle:hover #sun {
  transform: rotate(360deg);
}

#darkToggle:hover #moon {
   transform: rotate(45deg);
}


html.dark #darkToggle:hover .horizon {
  border-color: #718096 !important;
}

html{
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}
html.dark {
  color-scheme: dark;
}

.horizon .setting {
  animation: 1s ease 0s 1 setting;
}

.horizon .rising {
  animation: 1s ease 0s 1 rising;
}

@keyframes setting {
  0% {
    transform: translate3d(0, 10px, 0);
  }

  40% {
    transform: translate3d(0, -2px, 0);
  }

  to {
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  40% {
    opacity: 1;
    transform: translate3d(0, -2px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes fadeOut   {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 6px !important;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: var(--color-neutral-200) !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: var(--color-primary-light) !important;
  border-radius: 6px !important;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary) !important;
}

html::-webkit-scrollbar-thumb:active,
body::-webkit-scrollbar-thumb:active,
div::-webkit-scrollbar-thumb:active {
  background: var(--color-primary-dark) !important;
}
