---
import { Icon } from 'astro-icon/components';
//import HeaderEnd from "@components/sections/HeaderEnd.astro";
---

<div id="banner"  class="fixed flex w-full flex-end items-center gap-x-6 bg-primary-dark dark:bg-primary-dark  px-3 py-1.5 sm:py-1 sm:px-5 sm:before:flex-1  top-0 z-52">
    <div class="flex flex-1 justify-center sm:justify-end gap-x-3 sm:gap-x-6 items-center">
        <div class="hs-tooltip [--placement:auto] inline-block">
            <Icon type="button" name="logos--facebook" class=" sm:text-3xl text-2l  "/>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                Följ oss på Facebook
            </span>
        </div>
        <div class="hs-tooltip [--placement:auto] inline-block">
            <Icon type="button" name="logos--instagram-icon" class=" sm:text-3xl text-2l  "/>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                Följ oss på Instagram
            </span>
        </div>
        <div class="hs-tooltip [--placement:auto] inline-block">
            <Icon type="button" name="logos--vimeo-icon (1)" class=" sm:text-3xl text-2l  "/>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                Följ oss på Vimeo
            </span>
        </div>

         <p class="text-2l sm:xl  px-2 sm:px-1  text-sm text-neutral-100 dark:text-neutral-100    sm:text-neutral-100 dark:sm:text-neutral-100"> | </p>   
       
        <div class="text-center  px-0 sm:px-1 sm:pt-2">
            <div class="hs-tooltip [--placement:auto] inline-block">
                <Icon type="button" name="wi--day-cloudy-gusts-white" class=" text-2xl pt-1 sm:pt-0 sm:text-3xl" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-offcanvas-example" data-hs-overlay="#hs-offcanvas-example"/>
                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                    Väder Länkar
                </span>
            </div>
        </div>
        <div class="text-center sm:px-1 px-0 sm:pt-2">
            <div class="hs-tooltip [--placement:auto] inline-block">
                <Icon type="button" name="mdi-light--phone (1)" class=" sm:text-3xl text-2xl pt-1  sm:pt-0 " aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-offcanvas-kontakt" data-hs-overlay="#hs-offcanvas-kontakt"/>
                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                    Kontakt
                </span>
            </div>
        
        </div>    
    </div>
<!--      <p class="text-2l sm:xl  px-2 sm:px-1  text-sm text-neutral-100 dark:text-neutral-100    sm:text-neutral-100 dark:sm:text-neutral-100"> | </p> 
    <HeaderEnd /> -->
</div>


