---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';


interface FourCardGridContent {
    
    sectionTitle: string;
    sectionDescription?: string;
    gridCards: {
        title?: string;
        subtitle?: string;
        cardImage:  ImageMetadata;
        linkTarget?: string;
        linkText?: string;
        linkUrl?: string; 
    }[],
    buttons?: {
        text: string;
        spanText?: string;
        link: string;
        target?: string;
    }[];
}

interface Props {
    content: FourCardGridContent;
} 
const { content } = Astro.props;

---
<!-- Card Blog -->
<div class="w-full px-4 py-10 sm:px-6 lg:px-0 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
    { content.sectionTitle && 
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">{content.sectionTitle}</h2>
    }
    {content.sectionDescription && 
      <p class="mt-1 text-gray-600 dark:text-neutral-400">{content.sectionDescription}</p>
    }
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-0 mb-10 lg:mb-14">
    {content.gridCards.map((card) => (
    <!-- Card -->
    <a class="group flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl sm:rounded-none hover:shadow-md focus:outline-hidden focus:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="#">
      <div class="aspect-w-9 aspect-h-16">
        <Image
                src={card.cardImage}
                alt="Skysport tandemflyg i Åre"
                width={960}
                height={540}
                class="w-full h-auto object-cover rounded-xl sm:rounded-none "
                quality={90}
                format="webp"
                loading="lazy"
                decoding="async"
                priority 
       
            />
     </div>
      <div class="p-4 md:p-5">
        {card.title && 
          <p class="mt-2 text-xs uppercase text-gray-600 dark:text-neutral-400"> {card.title} </p>
        }
        {card.subtitle && 
          <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-neutral-300 dark:group-hover:text-white">
            {card.subtitle }
          </h3>
        }
      </div>
    </a>
    <!-- End Card -->
   ))}
   
  </div>
  <!-- End Grid -->

  <!-- Card -->
  <div class="text-center">
    <div class="inline-block bg-white border border-gray-200 shadow-2xs rounded-full dark:bg-neutral-900 dark:border-neutral-800">
      <div class="py-3 px-4 flex items-center gap-x-2">
        <p class="text-gray-600 dark:text-neutral-400">
          Want to read more?
        </p>
        <a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500" href="../docs/index.html">
          Go here
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Card Blog -->