---
//import { Mail, Moon, SunMedium,Download } from "@lucide/astro";
//import menus from "@/collections/menu.json";
//import Button from "@/components/ui/Button.astro";
//import Logo from "@/components/ui/Logo.astro";

import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import { headerMenu } from '@data/menu';
import { Icon } from 'astro-icon/components';
import Logo from "@components/elements/LogoCG.astro";



const yeary = "2026";
// get the page URL
const {pageURL} = Astro.props;
// Get the current path to determine active menu item
const currentPath = Astro.url.pathname;

// Function to check if a link is the current page or a parent of the current page
const isCurrentPage = (link: string) => {
    if (link === '/') {
        return currentPath === '/';
    }
    return currentPath.startsWith(link);
};
---

<header class="fixed top-20 sm:top-12 sm:py-0 z-50 w-full px-1 sm:px-4 lg:px-6   z-50  bg-white  py-1   lg:flex justify-between p-5 gap-5 mx-auto"> 
  <Astronav >
    <div class="flex w-full  lg:w-auto justify-between items-center ">
      <a><Logo /></a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class=" w-full lg:w-auto mt-2 lg:flex lg:mt-0 ">
      
       <ul class="flex flex-col lg:flex-row lg:gap-6 items-center w-full  lg:w-auto text-lg  text-gray-600 dark:text-neutral-400">
        <li>
         <div class="hs-tooltip sm:[--placement:bottom] inline-block">
            <a class="sm:p-2 font-medium text-blue-500 focus:outline-hidden" href="/" aria-current="page">
               <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                  <rect width="28" height="28" fill="none" />
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 12L12 1l11 11m-2-2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V10m6 12v-8h6v8" />
               </svg>
            </a>  
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
               HEM
            </span>         
         </div>
 <!--            <div class="hs-tooltip sm:[--placement:bottom] inline-block">
                  <a href="/"><Icon name="mingcute--home-4-line" class=" sm:text-2xl md:text-4xl  "/></a>
                  <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                     HEM
                  </span>
            </div> 
         </a> -->
        </li>
        <li>
            <Dropdown class="group">
               <button class="flex items-center">
                  <span>KURS </span>
                     <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="3"
                        stroke="currentColor"
                        class="w-3 h-3 mt-0.5 group-open:rotate-180">
                        <path
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                     </svg>
               </button>
               <DropdownItems class="relative">
                     <div
                        class="lg:absolute bg-white top-2 w-48 border shadow rounded py-2 px-0">
                        <ul >
                           <li class="hover:bg-neutral-100 w-full ">
                              <a href="/Kurs/omskarmflyg" class="px-2">Om Skärmflyg</a>
                           </li>
 
                           <li class="hover:bg-neutral-100 w-full ">
                              <DropdownSubmenu class="group/submenu">
                                 <button
                                    class="flex w-full items-center justify-between px-2">
                                    <span>Grundkurs</span>
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       fill="none"
                                       viewBox="0 0 24 24"
                                       stroke-width="3"
                                       stroke="currentColor"
                                       class="w-3 h-3 mt-0.5 group-open/submenu:rotate-180">
                                       <path
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M8.25 4.5l7.5 7.5-7.5 7.5"
                                          ></path>
                                    </svg>
                                 </button>
                                 <DropdownItems class="relative">
                                    <ul
                                       class="lg:absolute bg-white top-0 left-full w-52 border shadow rounded px-0 py-2">
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Grund/" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Grund/') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/Grund/') ? 'page' : undefined}>Om Grundkursen
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Grund/kursschema" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Grund/kursschema') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/Grund/kursschema') ? 'page' : undefined}>Kursschema 2026
                              </a>
                                       </li>
                                       
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Grund/presentkort" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Grund/presentkort') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/Grund/presentkort') ? 'page' : undefined}>Presentkort Grundkurs
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Grund/boka" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Grund/boka') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/Grund/boka') ? 'page' : undefined}>Boka
                              </a>
                                       </li>
                                    </ul>
                                 </DropdownItems>
                              </DropdownSubmenu>
                           </li>
                           <li class="hover:bg-neutral-100 w-full ">
                              <DropdownSubmenu class="group/submenu">
                                 <button
                                    class="flex w-full items-center justify-between px-2">
                                    <span>Fortsättningskurser</span>
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       fill="none"
                                       viewBox="0 0 24 24"
                                       stroke-width="3"
                                       stroke="currentColor"
                                       class="w-3 h-3 mt-0.5 group-open/submenu:rotate-180">
                                       <path
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M8.25 4.5l7.5 7.5-7.5 7.5"
                                          ></path>
                                    </svg>
                                 </button>
                                 <DropdownItems class="relative">
                                    <ul
                                       class="lg:absolute bg-white top-0 left-full w-46 border shadow rounded px-0 py-2">
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/kursschema" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/kursschema') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Fort/kursschema') ? 'page' : undefined}>Kursschema 2026
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/bergtermik" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/bergtermik') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Fort/bergtermik') ? 'page' : undefined}>Berg och Termik
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/samlaflyg" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/samlaflyg') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Fort/samlayflyg') ? 'page' : undefined}>Samlaflyg
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/pilot1" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/pilot1') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Fort/pilot1') ? 'page' : undefined}>Pilot 1
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/pilot2" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/pilot2') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Fort/pilot2') ? 'page' : undefined}>Pilot 2
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/hang" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/hang') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Fort/hang') ? 'page' : undefined}>Hang
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/volbiv" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/volbiv') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Fort/volbiv') ? 'page' : undefined}>Vol-Biv Årefjällen
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Fort/boka" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Fort/boka') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/Fort/boka') ? 'page' : undefined}>Boka
                              </a>
                                       </li>
                                    </ul>
                                 </DropdownItems>
                              </DropdownSubmenu>
                           </li>
                           <li class="hover:bg-neutral-100 w-full ">
                              <a href="/Kurs/SIV" 
                                 class:list={[' px-2  py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/SIV') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/SIV') ? 'page' : undefined}>SIV
                              </a>
                           </li>
                           
                           <!-- <li class="hover:bg-neutral-100 w-full ">
                              <DropdownSubmenu class="group/submenu">
                                 <button
                                    class="flex w-full items-center justify-between px-2">
                                    <span>Paramotor</span>
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       fill="none"
                                       viewBox="0 0 24 24"
                                       stroke-width="3"
                                       stroke="currentColor"
                                       class="w-3 h-3 mt-0.5 group-open/submenu:rotate-180">
                                       <path
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M8.25 4.5l7.5 7.5-7.5 7.5"
                                          ></path>
                                    </svg>
                                 </button>
                                 <DropdownItems class="relative">
                                    <ul class="lg:absolute bg-white top-0 left-full w-48 border shadow rounded px-0 py-2">
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Paramotor/kuursschema" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Paramotor/kursschema') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Paramotor/kursschema') ? 'page' : undefined}>Kursschema 2026
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Paramotor/utbildningparamotor" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Paramotor/utbildningparamotor') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Paramotor/utbildningparamotor') ? 'page' : undefined}>Utbildning Paramotor
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Paramotor/vadingorikursen" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Paramotor/vadingorikursen') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('//Kurs/Paramotor/vadingorikursen') ? 'page' : undefined}>Vad ingår i kursen
                              </a>
                                       </li>
                                       <li class="hover:bg-neutral-100 w-full ">
                                          <a href="/Kurs/Paramotor/boka" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/Paramotor/boka') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/Paramotor/boka') ? 'page' : undefined}>Boka
                              </a>
                                       </li>
                                    </ul>
                                 </DropdownItems>
                              </DropdownSubmenu>
                           </li> -->
                           <li class="hover:bg-neutral-100 w-full ">
                              <a href="/Kurs/licenssystem" 
                                 class:list={[' px-2  py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/tandem') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/tandem') ? 'page' : undefined}>Om Licensen
                              </a>
                           </li>
<!--                            <li class="hover:bg-neutral-100 w-full ">
                              <a href="/Kurs/tautlic" 
                                 class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                                             isCurrentPage('/Kurs/tautlic') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                                             ]}  
                                 aria-current={isCurrentPage('/Kurs/tautlic') ? 'page' : undefined}>Att ta ut licensen
                              </a>
                           </li> -->
                        </ul>
                     </div>
                  </DropdownItems>
               </Dropdown>
            </li>
            
               
            <li>
               <a href="/tandem" 
                  class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                              isCurrentPage('/tandem') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                              ]}  
                  aria-current={isCurrentPage('/tandem') ? 'page' : undefined}>
                  TANDEM
               </a>
            </li>
            <li>
               <a href="/resor" 
                  class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                              isCurrentPage('/resor') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                              ]}  
                  aria-current={isCurrentPage('/resor') ? 'page' : undefined}>
                  RESOR
               </a>
            </li>
            <li>
            <a href="#">BUTIK</a>
            </li>
            <li>
               <a href="/omoss" 
                  class:list={[' rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-nav-text-active',
                              isCurrentPage('/omoss') ? 'text-nav-text-current  text-color-primary-dark text-xl no-underline md:underline md:decoration-3 md:decoration-primary-dark md:underline-offset-6 ' : ' text-nav-text hover:text-nav-text-hover',
                              ]}  
                  aria-current={isCurrentPage('/omoss') ? 'page' : undefined}>
                  OM OSS
               </a>
            </li>
            
         </ul>
      </MenuItems>
   </Astronav>
   
</header>

<style>

  .hidden {
  display: none;
}

[data-icon="mingcute--home-4-line"] {
   color: red; 
}
</style>
