---
import { Image } from "astro:assets";
import PreCarosel from "@elements/prelineCarosel.astro";
---

<section class="mt-32 sm:mt-38 lg:mt-38 py-20 bg-slate-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!--  <div class="  inset-0  top-80 w-full h-full  overflow-hidden  ">  -->
    <PreCarosel />
  </div>
</section>
