---
import { Image } from 'astro:assets';
import PreCarosel from '@elements/prelineCarosel.astro';
---


<section class=" ">
  
    <div class="  inset-0  top-80 w-full h-full  overflow-hidden  "> 
        <PreCarosel />
    </div>

</section>