---
import { Image } from 'astro:assets';

interface InnerHeroContent {
    title?: string;
    description?: string;
    backgroundImage?: any;
    bgPosition?: string;
    overlayOpacity?: number; // Value between 0 and 1
}

interface Props {
    content: InnerHeroContent;
}

const { content } = Astro.props;
const opacity = content.overlayOpacity ?? 1;

---
<section  class="relative"> 
    <div  class="innerhero inset-0 left-0 top-0 w-full max-h-100 overflow-hidden ">
            {content.backgroundImage && (
                <Image
                    src={content.backgroundImage}
                    alt="Tandem Pilots"
                   inferSize
                    class="w-full h-1/4 sm:h-1/3 object-contain "
                    quality={86}
                    format="webp"
                    loading="eager"
                    decoding="async"
                />
            )}
            <div
                class="hero-background absolute inset-0 left-0 top-0 w-full h-full overflow-hidden"
                style={`opacity: ${opacity};`}
            ></div>
        </div>
    <div class="site-container mx-auto p-0 relative z-10 flex flex-col h-auto items-center justify-center text-center fadeOut delay-3500">
        <div>
            <h1 class="text-white" >{content.title}</h1>
            {content.description && <p class="subtitle text-white" data-aos="fade-up" >{content.description}</p>}
        </div>
    </div>
 </section> 
