---
import { Icon } from 'astro-icon/components';
//import { siteData, navigation, contactInfo } from '@data/siteData';
import { siteData, contactInfo } from '@data/siteData';
import NewsForm from '@elements/forms/nyhetsbrevForm.astro';
import HittaOss from '@elements/altKarta.astro';


---
<section class="bg-slate-800 border-t border-slate-600">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Newsletter -->
        <div class="sm:w-auto">
            <h4 class="text-lg font-semibold text-white mb-4">Skysports Nyhetsbrev</h4>
             <NewsForm/> 
          
    </div>
         
     



      <!-- Quick Links -->
<!--       <div>
        <h4 class="text-lg font-semibold text-white mb-4">Quick Links</h4>
        <ul class="space-y-2">
          {navigation.map((item) => (
            <li>
              <a
                href={item.href}
                class="text-gray-400 hover:text-orange-500 transition-colors"
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      </div> -->

      <!-- Contact Info -->
      <div>
        <h4 class="text-lg font-semibold text-white mb-4">Kontakta Oss</h4>
        <div class="group text-slate-200 dark:text-slate-200 text-sm">
          <h5 class=" text-bold">Skysport AB</h5>
          <p>Årevägen 173</p>
          <p>837 52, Åre, Sweden</p>
          <p>Besöksadress: Årevägen 173 (Draklanda)</p>
          <p>Tel: 0647-511 86, 0647-511 85</p>
          <p>Mobil 1: 070-569 90 89 (Frågor om skärmflygning)</p>
          <p>Mobil 2: 070-211 38 42 (Frågor om boende på Lake Lodge)</p>
          <p>E-post för bokning: bokning@skysport.se</p>
          <p>E-post för frågor: info@skysport.se</p>
        </div>
       <!--  <ul class="space-y-4 text-gray-400"> 
            <li class="">

                <a href='' class="hover:text-orange-500 transition-colors leading-relaxed">
                
                </a>
            
                <span class="leading-relaxed"></span>
         
            </li>
       
        </ul> -->
      </div>

    <!-- Hitta oss karta -->
      <div class="sm:col-span-2">
        <h4 class="text-lg font-semibold text-white  mb-4">Hitta Oss</h4>
         <HittaOss />
      </div>

    </div>
  </div>
</section>