---
import { Image } from 'astro:assets';
import BookHeroBGImage from '../../assets/images/vinter-tandem-1.png';
import TandemPriceCard from "@widgets/TandemPriceCard.astro";
import "@assets/css/flatpickr.css";
import "@assets/css/flatpickrDark.css";


const TandemPriceCardContent = {
bookingPageClass: 'lg:grid-cols-1',
bookingPage : 'boka',
  tandemProducts:[
    {
      title: "Tandemflyg",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "1.800 kr",
      foto: 0,
    },
    {
      title:  "Tandemflyg med film/foto",
      description: "Alla tandemflyg filmas och kan köpas efter flyget för 400 kr/st. Man måste inte köpa filmen om man inte vill. Tandemflyget kostar 1.800 kr",
      price: "2.200 kr",
      foto: 1,
    }
  ],
}


---

  <!-- Hero Section -->
  <section id="bokatandem" class=" relative md:h-[158vh] min-h-[600px] 2lg:min-h-[800px] pb-16  flex items-center overflow-hidden">
    <!-- Background Image with Overlay -->
    <div class="absolute inset-0">
      <Image 
        src= {BookHeroBGImage}
        alt="Tandemflyg i Åre"
        class="w-full h-full object-cover"
      />
      <div class="absolute inset-0 bg-linear-to-r from-slate-900/95 via-slate-900/80 to-slate-900/50"></div>
    </div>

    <!-- Content -->
    <div class="container mx-auto relative z-10 px-4 sm:px-6 lg:px-8">
      <div class=" mx-auto text-center grid grid-cols-1 gap-0 lg:grid-cols-2 lg:gap-2"><!--grid container -->
        <!-- column 1 -->
        <div class="inline-flex  flex-col px-0 pt-4 pb-0 md:px-4 md:py-2 md:mb-6 text-white text-sm font-semibold  lg:py-14">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-6 leading-tight">
                Boka din <span class="text-transparent bg-clip-text bg-linear-to-r from-blue-400 via-teal-400 to-blue-400">
                    Tandemflyg 
                </span>
                här.
            </h1>

            <div class="w-full bg-neutral-800 rounded-lg shadow-md dark:bg-neutral-800">
              <div class="hs-accordion-group">
                <div class="hs-accordion active" id="hs-basic-heading-one">
                  <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 px-3 md:px-6 py-3 inline-flex items-center gap-x-3 text-sm w-full font-semibold text-start text-gray-800 hover:text-gray-500 focus:outline-hidden focus:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="true" aria-controls="hs-basic-collapse-one">
                    <svg class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5v14"></path>
                    </svg>
                    <svg class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                    </svg>
                    Priser:
                  </button>
                  <div id="hs-basic-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-one">
                    <div class="pb-4 px-0 md:px-6">
                      
                        <TandemPriceCard content={TandemPriceCardContent} />
                    
                    </div>
                  </div>
                </div>

    <div class="hs-accordion" id="hs-basic-heading-two">
      <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 px-3 md:px-6 py-3 inline-flex items-center gap-x-3 text-sm w-full font-semibold text-start text-gray-800 hover:text-gray-500 focus:outline-hidden focus:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-collapse-two">
        <svg class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5v14"></path>
        </svg>
        <svg class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
        </svg>
        Önskat Datum:
      </button>
      <div id="hs-basic-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-two">
        <div class="pb-4 px-4 md:px-6">
          <p class="text-sm text-gray-600 dark:text-neutral-200 text-left text-balance">
            Välj önskat datum. Vi flyger alla dagar som vädret tillåter, dock ej i november och december. I maj månad har vi inte möjlighet att flyga före 22/5.  Flygningen bokas senast kl 18.00 dagen före, Om ni vill boka efter kl 18 så måste ni ringa oss (senast kl 21.00) Tel: 070-2113842.  
          </p><br>
          <p class="text-sm text-gray-600 dark:text-neutral-200 text-left text-balance text-pretty">
            Om du har flera dagar som alternativ, t ex du är i Åre en weekend eller en hel vecka, kan du informera oss i meddelande rutan.
          </p>
        </div>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-three">
      <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 px-3 md:px-6 py-3 inline-flex items-center gap-x-3 text-sm w-full font-semibold text-start text-gray-800 hover:text-gray-500 focus:outline-hidden focus:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-collapse-three">
        <svg class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5v14"></path>
        </svg>
        <svg class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
        </svg>
        Mobil
      </button>
      <div id="hs-basic-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-three">
        <div class="pb-4 px-4 md:px-6">
          <p class="text-sm text-gray-600 dark:text-neutral-200 text-left text-balance text-pretty">
            Vi behöver ett mobil nummer för att kontakta dig, angående flygförhållande(väder) och exakt tid för ditt tandemflyg.
          </p>
        </div>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-four">
      <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 px-3 md:px-6 py-3 inline-flex items-center gap-x-3 text-sm w-full font-semibold text-start text-gray-800 hover:text-gray-500 focus:outline-hidden focus:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-collapse-four">
        <svg class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5v14"></path>
        </svg>
        <svg class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
        </svg>
        Upptransport:
      </button>
      <div id="hs-basic-collapse-four" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-four">
        <div class="pb-4 px-4 md:px-6">
          <p class="text-sm text-gray-600 dark:text-neutral-200 text-left text-balance">
            Upptransport på berget ingår inte I flygpriset, om vi åker buss upp på berget kostar transporten 60 kr/st. Åker vi liftarna får man köpa en enkelbiljett vilket kostar 185 kr/st.
  
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
             
        </div>
      <!-- column 2 -->
        <div class="inline-flex items-center  px-0 md:px-4 md:py-2 md:mb-6  text-sm text-white text-sm">        
                <div class="p-2 sm:px-4 sm:py-10 sm:px-6 lg:px-8 lg:py-14 ">
                <div class=" md:max-w-xl mx-auto">
                    <div class="text-left">
                        <h1 class="text-3xl font-bold text-gray-800 sm:text-6xl dark:text-white">TANDEMBOKNING </h1>
<!--                         <p class="mt-1 sm:text-2xl text-gray-100 dark:text-neutral-200">Vi erbjuder tandemflyg från Åreskutan året runt. </p>
 -->                    </div>

                    <div class="mt-6 group:text-left">
                    <!-- Form -->
                    <form id="booking-form">                      
                        <!-- Grid -->            
                         <div class="grid grid-cols-1 gap-0 sm:grid-cols-2 sm:gap-4  lg:grid-cols-3 lg:gap-6"> 
                            <div class="sm:col-span-full">
                              <div class="">
                                  <div >
                                      <label for="flatpickr-date" class="block mb-2 text-sm text-left text-gray-200 sm:text-xl font-medium dark:text-white">Önskat Datum
                                        <span class="text-orange-600 sm:text-4xl">*</span>                              
                                        <input id="flatpickr-date" placeholder="Välj Datum" name="hs-datum" type="text" class="hs-datepicker w-s p-2  sm:py-3 sm:px-4 block  border border-gray-200 rounded-lg sm:text-sm focus:border-blue-600 focus:ring-blue-600 disabled:opacity-50 disabled:pointer-events-none" >
                                      </label>
                                      <!-- <p class="text-left pt-1 text-xs">Välj önskat datum. Vi flyger alla dagar som vädret tillåter, dock ej i november och december. 
                                          I maj månad har vi inte möjlighet att flyga före 22/5.  Flygningen bokas senast kl 18.00 dagen före, Om ni vill boka efter kl 18 så måste ni ringa oss (senast kl 21.00) 
                                          Tel: 070-2113842.  
                                      </p> -->
                                  </div>
                                  <div class="py-2">
                                      <label for="flatpickr-altDate" class="block mb-2 text-left text-sm text-gray-200 sm:text-xl font-medium dark:text-white">Alternativ Datum</label>
                                      <input id="flatpickr-altDate" name="hs-alt-date" class="hs-datepicker w-s p-2 sm:py-3 sm:px-4 block  border border-gray-200 rounded-lg sm:text-sm focus:border-blue-600 focus:ring-blue-600 disabled:opacity-50 disabled:pointer-events-none" type="text" placeholder="Välj alternativ datum"  >                
<!--                                       <p class="text-left pt-1 text-xs sm:text-s">Om du har flera dagar som alternativ, t ex du är i Åre en weekend eller en hel vecka, kan du informera oss i meddelande rutan.</p>
 -->                                  </div> 
                              </div>
                                <div class="py-4 px-0 max-w-[164px] sm:max-w-full"><!-- antal pass  -->
                                    <label for="antalPass" class="block mb-2 text-left text-sm text-gray-200 text-l sm:text-xl font-medium dark:text-white">Antal Passagerera</label>   
                                    <div class="p-2  sm:py-2 sm:px-3 sm:w-xs  border border-gray-200 rounded-lg dark:bg-neutral-900 dark:border-neutral-700">
                                        <div class=" flex justify-between items-center sm:gap-x-3" data-hs-input-number="">
                                        <div>
                                            <!-- <span class="block text-xs text-left text-gray-200 dark:text-neutral-400">Välj Antal</span> -->
                                            <input id="antalPass" class="w-[32px] sm:w-full sm:py-0.5  sm:px-4 bg-transparent border-0 text-l sm:text-xl text-gray-100  focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white" style="-moz-appearance: textfield;" type="text" aria-roledescription="Number field" value="1" data-hs-input-number-input="">
                                        </div>
                                        <div class="flex justify-end items-center gap-x-1.5">
                                            <button type="button" class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" tabindex="-1" aria-label="Decrease" data-hs-input-number-decrement="">
                                                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M5 12h14"></path>
                                                </svg>
                                            </button>
                                            <button type="button" class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" tabindex="-1" aria-label="Increase" data-hs-input-number-increment="">
                                                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M5 12h14"></path>
                                                <path d="M12 5v14"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                </div>  
                            </div>   </div>    
                           <!-- End Grid -->    
                          <div class="grid grid-cols-2 gap-6">
                            <div class="py-2 sm:py-0 "><!-- 2 col again -->                                
                                <label for="hs-name" class="block mb-2 text-left text-sm text-gray-200 font-medium dark:text-white">Namn<span class="text-orange-600 sm:text-4xl">*</span></label>
                                <input type="text" name="hs-name" id="hs-name" placeholder="Namn" class="w-5/6 sm:w-full p-2 sm:py-3 sm:px-4 block w-full border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                            </div>   
                            <div class="py-2 sm:py-0  "><!-- col 2 of 2 cols -->
                                <label for="hs-email" class="block mb-2 text-left text-sm text-gray-200 font-medium dark:text-white">Email<span class="text-orange-600 sm:text-4xl">*</span></label>
                                <input type="email" name="hs-email" id="hs-email" placeholder="Email" autocomplete="email" class="w-5/6 sm:w-full p-2 sm:py-3 sm:px-4 block w-full border border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                            </div><!-- end col 2 -->
                         </div>

                        <div class="py-2 sm:py-0">
                                <label for="hs-mobil" class="block mb-2 text-left text-sm text-gray-200 font-medium dark:text-white">Mobil<span class="text-orange-600 sm:text-4xl">*</span></label>
                                <input type="text" name="hs-mobil" id="hs-mobil" placeholder="Mobil nr." class="w-5/6 sm:w-full p-2 sm:py-3 sm:px-4 block w-full  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                        </div>
                       <!--  <div class="col-span-2 text-left ">
                                <p class="relative">Vi behöver ett mobil nummer för att kontakta dig, angående flygförhållande(väder) och exakt tid för ditt tandemflyg.</p>
                        </div> -->
<!--                         <p class="py-6 sm:py12 text-left">Alla tandemflyg filmas och kan köpas efter flyget för 400 kr/st. Man måste inte köpa filmen om man inte vill. Tandemflyget kostar 1.800 kr</p>
                       <p class="py-0 sm:py-0 text-left">Upptransport på berget ingår inte I flygpriset, om vi åker buss upp på berget kostar transporten 60 kr/st. Åker vi liftarna får man köpa en enkelbiljett vilket kostar 185 kr/st.</p>
 -->               

                        <div class="py-6 sm:py12 text-left">
                            <label for="hs-meddelande" class="block mb-2 text-left text-sm text-gray-200 font-medium dark:text-white">Meddelande</label>
                            <textarea id="hs-meddelande" name="hs-meddelande" class="py-2.5 sm:py-3 px-4 block w-full border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200 dark:placeholder-neutral-500 dark:focus:border-neutral-700 dark:focus:ring-neutral-600" rows="3" placeholder="Om det är något mer du vill informera oss om eller fråga, kan du skriva det här! Om bokningen gäller för mer än en person kan ni meddela oss via detta meddelande." data-hs-textarea-auto-height=""></textarea>   
<!--                             <p>Om det är något mer du vill informera oss om eller fråga, kan du skriva det här! Om bokningen gäller för mer än en person kan ni meddela oss via detta meddelande.</p>
 -->                        </div>

                    
                        </div>
                        <!-- End Grid -->

                        <!-- Checkbox -->
                        <div class="mt-3 flex">
                        <div class="flex">
                            <input id="remember-me" name="remember-me" type="checkbox" class="shrink-0 mt-1.5  cursor-pointer rounded-full w-6 h-6 p-6 border border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                        </div>
                        <div class="ms-3">
                            <label for="remember-me" class="text-sm text-gray-200 sm:text-2xl dark:text-neutral-400">Jag godkänner.  Läs om Skysports integritetspolicy här: <a class="text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500" href="https://skysport.se/integritetspolicy/">integritetspolicy(GDPR)</a></label>
                        </div>
                        </div>
                        <!-- End Checkbox -->

                        <div class="mt-6 grid">
                        <button type="submit" class="w-s py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-amber-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Skicka Tandem Bokning</button>
                        </div>

                      
                        
                    </form>
                     <!-- End Form -->
                    </div>
                </div>
                </div>
<!-- End Hire Us -->
            </div>  <!-- end col 2 --> 
       </div><!-- end 2 col grid -->
    </div>
  </section>
<script>
    import flatpickr from "flatpickr"
    import  {Swedish}  from "flatpickr/dist/l10n/sv.js"

   function datepickerCG () {
        flatpickr('#flatpickr-date', {
        monthSelectorType: 'static',
        'locale': Swedish,
        weekNumbers: true,
        minDate: 'today',
        maxDate: '2026-12-31',
        })

        flatpickr('#flatpickr-altDate', {
        monthSelectorType: 'static',
        'locale': Swedish,
        weekNumbers: true,
        minDate: 'today',
        maxDate: '2026-12-31',
        })
    };
 datepickerCG();

 
</script>

<script is:inline>



const get = (id) => document.getElementById(id) || { value: '' }
const submitForm = () => {
  //saveInput()
  sendmail()

}

const getFormData = () => {
  const store = Object.create(null)
  store.altTdate = get('flatpickr-altDate')?.value
  store.Tdate = get('flatpickr-date')?.value
  store.TnrPass = get('antalPass')?.value
  store.name = get('hs-name')?.value
  store.email = get('hs-email')?.value
  store.tel = get('hs-mobil')?.value
  store.message = get('hs-meddelande')?.value
  store.checkboxOK = get('remember-me')?.value
store.subject = 'Tandem Bokning'
  return store
}

/* const saveInput = () => {
  const { message, subject, ...rest } = getFormData()
  localStorage.setItem('tandembookinfo', JSON.stringify(rest))
} */

/* const retrieveInfo = () => {
  const store = JSON.parse(localStorage.getItem('tandembookinfo') || '{}')
  get('name').value = store.name || ''
  get('email').value = store.email || ''
  get('tel').value = store.tel || ''
  get('Tdate').value = store.Tdate || ''
  get('altTdate').value = store.altTdate || ''
  get('TnrPass').value = store.TnrPass || ''
  get('message').value = store.message || ''
  get('checkboxOK').value = store.checkboxOK || ''
   get('subject').value = store.subject || ''
} */
// end: localstorage

const submitBtn = document.querySelector('[type="submit"]')
submitBtn?.addEventListener('click', submitForm)
//retrieveInfo();
//[...document.querySelectorAll('input')][0]?.focus()
// window.onload = () => {} // don't know why this wont work

const sendmail = async () => {
  const { name, email, tel, message, Tdate, altTdate, TnrPass, checkboxOK, subject } = getFormData()
  const data = await fetch('/api/sendTandemBooking.json', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ name, email, tel, message, Tdate, altTdate, TnrPass, checkboxOK, subject }),
  })
    .then((res) => {
      if (!res.ok) {
        throw new Error(res.status)
      }
      return res.json()
    })
    .catch((err) => {
      console.log('Error', err)
      throw new Error('Network error.')
    })


  console.log(data) // Here is the response from backend
   alert('Message successfully sent');
  document.getElementById("booking-form").reset();
}
</script>
