---
import Layout from "@layouts/MainLayout.astro";

import HeroImage from '../assets/images/IMG_7595.jpg';
import LogoImage from '../assets/images/Skysport_Logo-01-invert-468.png';


import ResBooking from "@components/elements/forms/resbookform.astro";
import Divider1 from  "@elements/SeparatorLine.astro";

import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Boka Resor" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];

/* const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/winter-start-25.MP4";
const VideoContent = {
    title: "Skärmflyg i Åre ",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan. ",
    backgroundVideo: myVideo,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    page: "start"
} 

const HeroContent = {
    title: "Skysport Resor 2026",
    description: "I 2026 fokusera vi på resor till Turkiet och Columbia. Välkommen att följa med!",
    backgroundImage: HeroImage,
    //descriptionImage: LogoImage,
    overlayOpacity: 0.2,
} */

/* const SimpleTextContent = {
    colWidth: 'max-w-full sm:w-4/5 lg:max-w-[65rem]',
     infoText: [
        {
          preText: 'Om du vill ta med anhöriga på resan (ej skärmflygare) så går det bra. De betalar då 4.500 kr. I det priset ingår:  transfer, boende inkl frukost.',
          spanText: '',
          spanClasses: 'text-xl font-bold text-orange-600',
          postText: '',
        },
        {
          preText: '',
          spanText: 'Obs! Det går att få singelrum mot tillägg 2.950 kr, När ni skickar in anmälan så nämner ni detta i meddelande rutan.',
          spanClasses: 'text-lg font-semibold text-slate-600 dark:text-slate-200',
          postText: '',
        },
        {
          preText: '',
          spanText: 'När vi får in bokningen så skickar vi en Faktura på 3000 kr som är en anmälningsavgift som inte går att få tillbaka vid avbokning. Resten av kostnaden betalas senast 3 veckor innan avresa.',
          spanClasses: 'text-lg uppercase font-semibold text-slate-600 dark:text-slate-200',
          postText: '',
        },
     ],
} */
---
<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="">

   <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
    <Breadcrumbs
      linkTextFormat="capitalized"
      separatorAriaHidden={false}
      customizeLinks={customLastPart}
    >
      <svg
        slot="index"
        aria-label="Home Page"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
        </path><polyline points="9 22 9 12 15 12 15 22"></polyline>
      </svg>
      <svg
        slot="separator"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </Breadcrumbs>
  </div>

  <ResBooking />
   
</Layout>

