---

import { siteConfig } from "@config/site";

import Layout from "@layouts/MainLayout.astro";

import Button from "@components/ui/Button.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import VideoHero from "@components/sections/VideoHero.astro";

import HeroImage from '../assets/images/IMG_7595.jpg';
import LogoImage from '../assets/images/Skysport_Logo-01-invert-468.png';

import CardImage1 from '../assets/images/mellanmullfjallet27.jpg';
import Tandem1 from '../assets/images/IMG_7595.jpg';
import kurs1 from '../assets/images/kurs/1.jpg';

import ProductIMG from '@assets/images/products/solarxon.jpg'

import Reco from "@components/sections/RecoBar.astro";
const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/1ASIDA.mp4";
//const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/vinter_Tandem-dji.mp4";
//const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/winter-start-25.MP4";
//const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/tandem-vinter-klipp-m3.mp4";
const VideoContent = {
  //title: "Vi erbjuder tandemflyg från Åreskutan året runt",
  //description: "Vi erbjuder tandemflyg från Åreskutan året runt",
  backgroundVideo: myVideo,
  //descriptionImage: LogoImage,
  overlayOpacity: 0.2,
  page: "tandem",
  position: "justify-end",
  buttons: [
   /* {
      text: "BOKA TANDEM",
      link: "#bokatandem",
      target: "_self",
    },*/
  /*   {
      text: "Köp Tandem Presentkort",
      link: "/Tandem/Presentkort#koppresentkort",
      target: "_self",
    },
    {
      text: "Förlänga Tandem Presentkort",
      link: "#forlanga",
      target: "_self",
    }, */
  ],
};

 const HeroContent = {
    title: "Tandemflyg från Åreskutan",
    description: "Boka Tandemflyg",
    backgroundImage: Tandem1,
    overlayOpacity: 0.2,
    buttons: [
        {
        text: "Boka Tandemflyg",
        link: "/Tandem/tandem",
        target: "_self",
        },
    ],
};
 const HerobContent = {
    title: "Boka Skärmflygkurs hos skysport",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan.",
    backgroundImage: kurs1,
    overlayOpacity: 0.2,
    buttons: [
    {
      text: "Boka Kurs",
      link: "/Kurs/omskarmflyg",
      target: "_self",
    },
  ], 
}; 

 



---

<Layout
title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>
 <VideoHero content={VideoContent}/> 
<!--  <ImageHero content={HeroContent}/>
<ImageHero content={HerobContent}/>  -->
   
   
     
  <section >
     <Reco />
  </section>
 
</Layout>
<script>
  document.getElementById("banner").classList.add("hidden");
  document.getElementById("navheader").classList.add("hidden");

  let lastScrollTop = 0;
  const navbanner = document.getElementById("banner"); 
  const navHeader = document.getElementById("navheader");

  window.addEventListener('scroll', () => {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > lastScrollTop) {
      // Scrollar nedåt
      //navbanner.classList.add('hidden');
      navbanner.classList.remove('hidden');
      navHeader.classList.remove('hidden');
    } else {
      // Scrollar uppåt
    // navbanner.classList.remove('hidden');
      navbanner.classList.add('hidden');
      navHeader.classList.add('hidden');
    }
    lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
  });

</script> 