---

import { siteConfig } from "@config/site";

import Layout from "@layouts/MainLayout.astro";


import ImageHero from "@components/sections/ImageHero.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import HeroImage from '../assets/images/IMG_7595.jpg';
import LogoImage from '../assets/images/Skysport_Logo-01-invert-468.png';
import ThreeCards from "@components/sections/ThreeCards.astro";
import CardImage1 from '../assets/images/mellanmullfjallet27.jpg';
import CardImage2 from '../assets/images/tandemhenning23.jpg';
import CardImage3 from '../assets/images/pie3.jpg';

import Reco from "@components/sections/RecoBar.astro";

const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/winter-start-25.MP4";

const VideoContent = {
    title: "Skärmflyg i Åre ",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan. ",
    backgroundVideo: myVideo,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    page: "start"
}

const HeroContent = {
    title: "Skärmflyg i Åre",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan.",
    backgroundImage: HeroImage,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
  
}

const CardContent = {
    title1: "Grundkurs",
    description1: "Förverkliga drömmen och lär dig skärmflyga. Under en 5 dagars intensivkurs i Åre flyger du både i liten backe och höjdflyg från Åreskutan. Kursen leder fram till licens.",
    image1: CardImage1,
    url1left: "start",
    linktext1left: "Läs Mer",
    url1right: "",
    linktext1right: "BOKA",
    title2: "Tandem",
    description2: "Tillsammans med en erfaren instruktör flyger du på ett säkert och avslappnat sätt från Åreskutan. Arrangeras dagligen under säsong. Inga förkunskaper krävs.",
    image2: CardImage2,
    url2left: "start",
    linktext2left: "Läs Mer",
    url2right: "tandem",
    linktext2right: "BOKA",
    title3: "Nyheter",
    description3: "Vinter/Vår 2026:  Vi startar säsongen 2 februari. Under februari-september arrangeras kurser kontinuerligt.",
    image3: CardImage3,
    url3left: "",
    linktext3left: "",
    url3right: "/blog",
    linktext3right: "NYHETER",

}
---

<Layout
title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>

   <ImageHero content={HeroContent}/>  
    <section >
     <ThreeCards content={CardContent}/>
  </section>
  <section >
     <Reco />
  </section>
  <section >

</section>
 

 

</Layout>
