---
export const prerender = false
import { siteConfig } from "@config/site";
import Layout from "@layouts/MainLayout.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import Card4Hero from "@components/sections/FourCardGrid.astro";
import HeroImage from '@assets/images/IMG_7595.jpg';
import LogoImage from '@assets/images/Skysport_Logo-01-invert-468.png';

//import AstroForm from '@elements/forms/astro-news.astro';

import HeroCarosel from "@components/sections/HeroCarosel.astro";
import BigSwiper from "@components/elements/bigCarousel.astro";

import CardGrid1 from '@assets/images/tandemlanding.jpg';
import CardGrid2 from '@assets/images/kurs/IMG_5851b-1.jpg';
import CardGrid3 from '@assets/images/tandem/tandem111.jpg';
import CardGrid4 from '@assets/images/kurs/hang-po-hummln.jpg';

const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/flying/Base3mobc.mp4";
const swiper1 = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/flying/Base3mobc.mp4";

import Divider1 from  "@elements/SeparatorLine.astro";

import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
import { callSafely } from "astro:actions";

const customLastPart = [
  { index: "last", text: "Resor" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];



const VideoContent = {
    title: "Skärmflyg i Åre ",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan. ",
    backgroundVideo: swiper1,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    page: "start"
} 

const HeroContent = {
    title: "Skysport Resor 2026",
    description: "I 2026 fokusera vi på resor till Turkiet och Columbia. Välkommen att följa med!",
    backgroundImage: HeroImage,
    //descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    //fadeOut: true,
  
}

const FourCardContent = {
  sectionTitle: 'test title',
    sectionDescription: 'test sub text',
    gridCards:[
     {
        title: '',
        subtitle: '',
        cardImage:  CardGrid1,
        linkTarget: '',
        linkText: '',
        linkUrl: '', 
    },
    {
        title: '',
        subtitle: '',
        cardImage:  CardGrid2,
        linkTarget: '',
        linkText: '',
        linkUrl: '', 
    },
    {
        title: '',
        subtitle: '',
        cardImage:  CardGrid3,
        linkTarget: '',
        linkText: '',
        linkUrl: '', 
    },
    {
        title: '',
        subtitle: '',
        cardImage:  CardGrid4,
        linkTarget: '',
        linkText: '',
        linkUrl: '', 
    },
  ],
   

}

const BigSwiperContent = {
  title:'Upcoming Trips 2026',
  description:'Join us for an unforgettable paragliding adventure in 2026! Explore breathtaking destinations, enhance your skills with expert guidance, and create lasting memories. Whether you\'re a seasoned pilot or a beginner, our curated trips offer something for everyone. Don\'t miss out on the opportunity to soar through the skies and experience the thrill of paragliding in some of the world\'s most stunning locations. Book your spot today and take to the skies with us in 2026!',
  carouselItems: [
    {
      title: 'Följ med oss till Öludeniz',
      content: 'slide with video 4',
      cta: '',
     // image:  CardGrid2,
      image_alt: 'Trip to Turkey',
      video: 'swiper1',
    },
    {
      title: 'Följ med oss till Öludeniz',
      content: 'slide with image 1',
      cta: '',
      image:  CardGrid1,
      image_alt: 'Trip to Turkey',
    //  video: '',
    },
    {
      title: 'Följ med oss till Columbia',
      content: 'slide with image 2',
      cta: '',
      image:  CardGrid3,
      image_alt: 'Trip to Turkey',
    //  video: '',
    },
    {
      title: 'Följ med oss till Öludeniz',
      content: 'slide with video 3',
      cta: '',
    //  image:  CardGrid4,
      image_alt: 'Trip to Turkey',
      video: 'myVideo',
    },
    {
      title: 'Följ med oss till Öludeniz',
      content: 'slide with video 4',
      cta: '',
     // image:  CardGrid2,
      image_alt: 'Trip to Turkey',
      video: 'swiper1',
    },
    {
      title: 'Följ med oss till Columbia',
      content: 'slide with image 2',
      cta: '',
      image:  CardGrid3,
      image_alt: 'Trip to Turkey',
    //  video: '',
    },
  ],
}
---

<Layout
title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>
 <VideoHero content={VideoContent}/> 
<!--    <ImageHero content={HeroContent}/>   -->
<Card4Hero content={FourCardContent}/>
 <!--   <BigSwiper content={BigSwiperContent}  /> -->
  <!--  <HeroCarosel /> -->
<section> 
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Newsletter -->
        <div class="sm:w-auto">
            <h4 class="text-lg font-semibold text-white mb-4">Skysports Nyhetsbrev</h4>  
          <!--   <AstroForm />  -->
            </div>
      </div>
  </div>
          
          
          </section>
</Layout>


