---
import { kursPriser26 } from "@data/prisData";
import { boendePriser26 } from "@data/prisData";
import Layout from "@layouts/MainLayout.astro";
import FAQ from  "@sections/faq1.astro";
import Divider1 from  "@elements/SeparatorLine.astro";


 
---
<Layout

title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>
 <section >
    <div class="site-container px-0 py-42 text-center ">
      <h5 class="text-2xl text-slate-600 lg:text-4xl w-full dark:text-slate-200" >Villkor och kursinformation (Grundkurs)</h5>
      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full "><h3>Boende</h3></li>
        <li class="w-full text-pretty"><p>Boendepriset avser priset för hela kursveckan (del i 2-4 bädds rum). Du bor tillsammans med andra kursdeltagare. Vill du boka egen lägenhet (bo själv eller ta med andra familjemedlemmar som ej går kursen), kontakta oss för prisinfo och bokning. Obs! Om ni är en grupp tex 4 personer, kan ni utan extra pristillägg få en egen 4-bädd lägenhet.</p></li>
        <li class="w-full "><p>I boendepriset ingår inte sänglinne, handdukar, måltider och slutstädning.
      Sänglinne/handdukar går att hyra för {boendePriser26.linneHanddukar} kr/vecka. Slutstädning kostar {boendePriser26.slutStad} kr/person. Frågor? Kontakta oss</p></li>
      <li class="w-full"><p>Ni kommer att bo i ”LAKE LODGE ÅRE” eller i Storskutan.</p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Betalning</h3></li>
        <li class="w-full"><p>Vi skickar ut faktura när du har anmält dig till kursen. Betalning av fakturan görs senast 2 veckor före kursstart.</p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Vädergaranti</h3></li>
        <li class="w-full"><p>I kursen ingår en vädergaranti, den innebär att skulle du inte bli klar med de flygningar som ingår i kursen under veckan, kan du stanna kvar 1 dag extra (lördag) och komplettera med återstående flygningar(kostnadsfritt). Skulle inte heller detta räcka, har du flygen innestående och kan utan extra kostnad återkomma inom 6 månader och göra färdigt det som ingår i kursen.För att kunna utnyttja vädergarantin så måste man boka på sig en ny vecka där vi har en pågående kurs.</p></li>
        <li class="w-full"><p>Om det går längre tid, 6-12 månader, och du vill återvända och göra klart kursen,krävs först en Avrostningskurs. Den kostar 3.000 kr.  I detta pris ingår utrustning och instruktörer.</p></li>
        <li class="w-full"><p>Vädergarantin gäller under förutsättning att du ej på eget initiativ avbrutit.</p></li>
        <li class="w-full"><p>Kursen slutar senast lördag 20.00. Den kan sluta tidigare om flygningarna som ingår i kursen redan är avklarade eller om instruktören bedömer att väderprognosen för reservdagen(lördag) är dålig.</p></li>
        
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>När startar/slutar kursen?</h3></li>
        <li class="w-full"><p>Kurserna startar måndag klockan 09.00 och pågår tom fredag eftermiddag/kväll. Lördag är reservdag. Lördag är reservdag och kan bedömas som vädergarantidag och skall utnyttjas för att vädergarantin skall gälla.</p></li>
        <li class="w-full"><p>Om de flygningar som ingår i kursen är klara under fredagen, så avslutas kursen då. Obs! Om du på eget initiativ väljer att avbryta kursen innan instruktörerna har avslutat kursen gäller inte den s k vädergarantin.</p></li>
        <li class="w-full"><p>dvs att du kostnadsfritt får återkomma och göra klart dina flyg inom 6 månader.</p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Försäkring</h3></li>
        <li class="w-full"><p>Obs! Tillkommer till kursavgiften gör: 200kr per höjdflyg, försäkring, och medlemskap i Svenska Skärmflygförbundet, SSFF, beloppet är 1.750 kr. Dessa 1.750 kr innehåller följande: SSFF(årsavgift), Ansvarsförsäkring, Olycksfallförsäkring, adm avgift till SSFF, teoribok(inkl porto) .</p></li>
        <li class="w-full"><p>Skall sättas in, innan kursstart, på BG 5819-5132, bet.mottagare är SSFF. Ange namn, adress, tel nr och personnummer. Denna avgift gäller kalenderår och förnyas vid årsskiftet. Om du efter avslutad kurs vill ta ut din licens och flyga på egen hand under året, tillkommer inga andra kostnader än medlemskap i en klubb.</p></li>
        <li class="w-full"><p>En utförligare information om vad försäkringen täcker finner du i det utskick som vi skickar ut ca 1 månad innan kursstart.</p></li>
        <li class="w-full"><p></p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Höjdflyg</h3></li>
        <li class="w-full"><p>Förutom grundavgiften på {kursPriser26[0].kursPris}kr tar vi betalt för varje höjdflyg du gör. Om man vill ha en studentlicens med bergsbehörighet så gör vi 5-10 st höjdflyg.</p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Liftkort</h3></li>
        <li class="w-full"><p>Vintertid tillkommer liftkort till kursavgiften. Vinter och vårvinter ca 360 kr/dag(räkna med ca 720 kr för en veckokurs). Sommar och höst betalar du för liftkort(300 kr/dagkort) om flygning sker dagtid. Om flygningen sker på morgonen eller kvällen, när liftarna inte är öppna, sker transporterna upp med bil, priset för detta är 60kr/tur.</p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Min antal för att en kurs skall bli av</h3></li>
        <li class="w-full"><p>Det krävs minst 4 st kursdeltagare för att en kurs skall arrangeras. Vårt mål är att arrangera kurs alla veckor vi utlyser kurs. Men blir det inte tillräckligt antal anmälda kommer kursen inte att bli av. Kontakta oss så får du veta hur många som är anmälda den veckan du är intresserad av.</p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Fullbokade kurser</h3></li>
        <li class="w-full"><p>Fullbokade kurser är ganska sällsynt, men det kan förekomma t.ex under juli månad. Boka därför i god tid om du vill vara säker på plats.  Grundkurser startar varje vecka, enligt kurskalendern De kurser som är markerade i fet kursiv stil med texten ”fullbokad” är fullbokade. Du kan få stå som reserv till en fullbokad vecka, eftersom det förekommer att avbokningar sker endast ett par dagar innan kursstart. Därför kan du alltså ändå anmäla dig till en kurs även om den är fullbokad. Vi kontaktar dig i så fall så snart vi fått någon avbokning eller senast 3 dygn innan kursstart.</p></li>
      </ul>

      <ul class="mt-5 space-y-3 text-left dark:text-slate-200">
        <li class="w-full"><h3>Avbokning av kurs</h3></li>
        <li class="w-full"><p>1. Om avbokning sker mer än 2 veckor innan kursstart blir det ingen avbokningskostnad.</p></li>
        <li class="w-full"><p>2. Om avbokning sker mindre än 2 veckor innan kursstart blir det en avbokningskostnad på 1.000 kr</p></li>
        <li class="w-full"><p>3. Om avbokning sker mindre än 1 vecka innan kursstart blir det en avbokningskostnad på 2.000 kr</p></li>
        <li class="w-full"><p>4. Om person blir sjuk eller skadad och inte kan anlända till kurs blir det ingen avbokningskostnad. Förutsättning att ett skriftligt läkarintyg skickas till Skysport.</p></li>
        <li class="w-full"><p>5. Om person, inbokad på kursen, inte anländer utan att meddela något måste hela kursavgiften betalas ändå.</p></li>
        <li class="w-full"><p>6. Om person, inbokad på kursen och som deltar i kursen, själv bestämmer sig för att avbryta kursen, återbetalas ej kursavgiften.</p></li>
      </ul>  
       <Divider1 />
  </div>
</section>
  <FAQ />
</Layout>

