---
import { siteConfig } from "@config/site";
import Layout from "@layouts/MainLayout.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import LicSteps from "@components/sections/LicenceSteps.astro";
import LicensIntro from "@components/sections/Feature-50-50.astro";
import HeroImage from '@assets/images/IMG_7595.jpg';
import LogoImage from '@assets/images/Skysport_Logo-01-invert-468.png';
import LicensFlow from '@assets/images/kurs/Hur-for-jag-licens.jpg';
import LicensBanner from '@assets/images/kurs/balans.jpg';
import LicensSystem from '@assets/images/kurs/Licenssystem2.jpg';
import Topper from  "@elements/navTopper.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customLastPart = [
  { index: "last", text: "Licens System" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];

const Feature50Content = {
    infoOrientationL: false,
    infoTitle: 'Licens System',
    infoDescription:'',
    infoText: [
        {
        preText: 'Det finns 3 olika nivåer på licens i Sverige:  Elev, Pilot 1 och Pilot 2. Man kan också ta olika behörigheter. Behörigheten avgör på vilket startsätt och flygsätt du är utbildad: Berg, Vinsch och Hang. Om du vill veta mera om licenssystemet, gå in på Svenska skärmflyg förbundets hemsida och läs mer. I',
        spanText: '',
        spanClasses: 'text-orange-500 font-bold',
        postText: ' hittar du alla regler som gäller i Sverige.',
        linkTarget: '_blank',
        linkURL: 'https://paragliding.se/grenar/skarmflyg/paragliding/flygare/utbildningar',
        linkText: 'Utbildningshandboken',
        linkClasses: 'text-orange-500 font-bold',
        },
        {
        preText: 'I',
        spanText: '',
        spanClasses: 'text-orange-500 font-bold',
        postText: 'beskrivs hur utbildningen går till, både för licensnivå och behörighet.',
        linkTarget: '_blank',
        linkURL: 'https://paragliding.se/download/18.5889933c18529c5912e4a0bc/1671699671684/utbildningsmanual_student.pdf',
        linkText: 'Utbildningsmanualerna ',
        linkClasses: 'text-orange-500 font-bold',
        },
    ],
    infoImg: LicensBanner,
    infoImg2: LicensSystem
}

const StegContent = {
    title: 'Att ta ut Licensen',
  description: 'För att få ut sin licens från Svenska skärmflygförbundet kan vara lite klurigt och sker i olika steg. Det krävs kontakt med en skärmflygskola men man måste också göra några saker genom Svenska skärmflyg Förbundet.',
  descriptionImage: LicensBanner,
  stegTitle: 'Steg till Licens',  
  stegs: [
        {
            Text: 'Anmäl dig på kurs hos Skysport',
            LinkURL: '',
            LinkText:  '',
        },
        {
            Text: 'Teckna Take off kit innan kursstart',
            LinkURL: '',
            LinkText:  '',
        },
        {
            Text: 'Gå kursen på Skysport i Åre',
            LinkURL: '',
            LinkText:  '',
        },
        {
            Text: 'När kursen är färdig ska alla moment på elevkortet ifyllas i, på exam.paragling.se',
            LinkURL: '',
            LinkText:  '',
        },
        {
            Text: 'Gå med i en klubb genom förbundets hemsida: ',
            LinkURL: 'https://cloud.paragliding.se/product-category/klubbmedlemskap-stod-support-eller-for-nybliven-pilot/',
            LinkText:  'Gå med i klubb',
            LinkTarget: '__blank',
        },
    ],
}


---

<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="" >

    <Topper />
    <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
      <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
          <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
              points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
      </Breadcrumbs>
  </div> 
   
    <LicensIntro content={Feature50Content} />
    <LicSteps content={StegContent}/>
</Layout>
