---
import { siteConfig } from "@config/site";
import Layout from "@layouts/MainLayout.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import LicSteps from "@components/sections/LicenceSteps.astro";
import LicensIntro from "@components/sections/Feature-50-50.astro";
import HeroImage from '@assets/images/IMG_7595.jpg';
import LogoImage from '@assets/images/Skysport_Logo-01-invert-468.png';
import LicensFlow from '@assets/images/kurs/Hur-for-jag-licens.jpg';
import LicensBanner from '@assets/images/kurs/balans.jpg';
import LicensSystem from '@assets/images/kurs/Licenssystem2.jpg';


const HeroContent = {
    title: "Skysport Resor 2026",
    description: "I 2026 fokusera vi på resor till Turkiet och Columbia. Välkommen att följa med!",
    backgroundImage: HeroImage,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    fadeOut: true,
  
}

const Feature50Content = {
    infoOrientationL: false,
    infoTitle: 'Licenssystem',
    infoDescription:'',
    infoText: [
        {
        preText: 'Det finns 3 olika nivåer på licens i Sverige:  Elev, Pilot 1 och Pilot 2. Man kan också ta olika behörigheter. Behörigheten avgör på vilket startsätt och flygsätt du är utbildad: Berg, Vinsch och Hang. Om du vill veta mera om licenssystemet, gå in på Svenska skärmflyg förbundets hemsida och läs mer. I',
        spanText: 'Utbildningshandboken',
        spanClasses: 'text-orange-500 font-bold',
        postText: ' hittar du alla regler som gäller i Sverige.',
        linkTarget: '_blank',
        linkURL: '',
        linkText: '',
        },
        {
        preText: 'I',
        spanText: ' Utbildningsmanualerna ',
        spanClasses: 'text-orange-500 font-bold',
        postText: 'beskrivs hur utbildningen går till, både för licensnivå och behörighet.',
        linkTarget: '_blank',
        linkURL: '',
        linkText: '',
        },
    ],
    infoImg: LicensBanner,
    infoImg2: LicensSystem
}

const StegContent = {
    title: 'Att ta ut Licensen',
  description: 'För att få ut sin licens från Svenska skärmflygförbundet kan vara lite klurigt och sker i olika steg. Det krävs kontakt med en skärmflygskola men man måste också göra några saker genom Svenska skärmflyg Förbundet.',
  descriptionImage: LicensFlow,
  stegTitle: 'Steg till Licens',  
  stegs: [
        {
            Text: 'Anmäl dig på kurs hos Skysport:',
            LinkURL: '#',
            LinkText:  'Boka kurs med Skysport',
        },
        {
            Text: 'Teckna Take off kit innan kursstart:',
            LinkURL: 'https://cloud.paragliding.se/product-category/borja-kurs-los-takeoffkit/',
            LinkText:  'Take off kit',
        },
        {
            Text: 'Gå kursen på Skysport i Åre.',
            LinkURL: '#',
            LinkText:  'Om Skärmflygkurser hos Skysport',
        },
        {
            Text: 'När kursen är färdig och alla moment på elevkortet är ifyllda mejla in det till: kansli@paragliding.se  (OBS gör det på en gång, inga moment får vara mer än 3 månader gamla!)',
            LinkURL: '#',
            LinkText:  '',
        },
        {
            Text: 'Gå med i en klubb genom förbundets hemsida: ',
            LinkURL: 'https://cloud.paragliding.se/product-category/klubbmedlemskap-stod-support-eller-for-nybliven-pilot/',
            LinkText:  'Gå med en klubb',
        },
    ],
}


---

<Layout
title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>

  
   <div class=" py-8 sm:py-12 px-5">
    
</div>
  <LicensIntro content={Feature50Content} />

    <LicSteps content={StegContent}/>
 
  
</Layout>
