---
import Layout from "@layouts/MainLayout.astro";
import Booking from "@components/sections/Tandbokning.astro";
import TandemPriceCard from "@widgets/TandemPriceCard.astro";
import Feature50 from  "@sections/Feature-50-50.astro";

import tandemLanding from "@assets/images/tandem/sommar-1536x1536.jpg";
import sommarSkutan from "@assets/images/tandem/sommarskutan1.jpg";
import topStugan from "@assets/images/tandem/tandem_stugan.jpg";


import Divider1 from  "@elements/SeparatorLine.astro";

const BookingPageContent = {
    bookingPage: 'boka',
}


const TandemPriceCardContent = {
bookingPage: 'boka',
  tandemProducts:[
    {
      title: "Tandemflyg",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "1.800 kr",
      foto: 0,
    },
    {
      title:  "Tandemflyg med film/foto",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "2.200 kr",
      foto: 1,
    }
  ],
}

const Feature50Content = {
     infoTitle: 'Upptransport',
     infoText: [
      {
        preText: 'Upptransport till startplatsen ingår ej i priset. (OBS: Detta gäller även presentkort) Upptransport med Gondolbanan i Åre kostar ca',
        spanText: '185 kr',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
            {
        preText: 'Under årstider/tider på dagen när inte liftarna är öppna sker transport med Skysports minibuss,  som kostar ',
        spanText: '80 kr',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
    infoImg:  sommarSkutan,
    infoIcon: '',
    /* buttons: [
      {
        text: "",
        link: "",
        target: "_self",
      },
    ], */
}


---
<Layout
title="Boka tandemflyg hos Skysport i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Tandemflyg, Paragliding, Åre"
>
    <section class="pt-30">
        <Divider1 />
    </section>
    <!-- <TandemPriceCard content={TandemPriceCardContent} /> -->
    <Booking content={BookingPageContent}/> 
    <Feature50 content={Feature50Content}/> 
</Layout>

