---
import Layout from "@layouts/MainLayout.astro";
import Booking from "@components/sections/TandemBokapage.astro";
import Feature50 from  "@sections/Feature-50-50.astro";
import Nygondol from "@assets/images/nygondol.jpg";
import Topper from  "@elements/navTopper.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Bokning" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];

import { transportUp } from "@data/prisData";
const rawSkysportUp =  transportUp.skysportBus;
const rawSkistarUp = transportUp.skistarLift;
const skysportUpISO = new Intl.NumberFormat('sv-SE', {
                                    style: 'currency',
                                    currency: 'SEK'
                                    }).format(rawSkysportUp); 
const skistarUpISO = new Intl.NumberFormat('sv-SE', {
                                    style: 'currency',
                                    currency: 'SEK'
                                    }).format(rawSkistarUp); 

const BookingPageContent = {
    bookingPage: 'boka',
}

const TandemPriceCardContent = {
bookingPage: 'boka',
  tandemProducts:[
    {
      title: "Tandemflyg",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "1.800 kr",
      foto: 0,
    },
    {
      title:  "Tandemflyg med film/foto",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "2.200 kr",
      foto: 1,
    }
  ],
}

const Feature50Content = {
   //  infoTitle: 'Upptransport',
     infoText: [
      {
        preText: '',
        spanText: 'Upptransport',
        spanClasses: 'text-4xl font-bold text-slate-600',
        postText: '',
      },
      {
        preText: 'Upptransport till startplatsen ingår ej i priset. (OBS: Detta gäller även presentkort) Upptransport med Gondolbanan i Åre kostar ca',
        spanText: skistarUpISO,
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
            {
        preText: 'Under årstider/tider på dagen när inte liftarna är öppna sker transport med Skysports minibuss,  som kostar ',
        spanText: skysportUpISO,
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
    infoImg:  Nygondol,
    infoIcon: '',
}

---
<Layout
title="Boka tandemflyg hos Skysport i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Tandemflyg, Paragliding, Åre"
><Topper />
    <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
      <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
          <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
              points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
      </Breadcrumbs>
  </div> 
    <Booking content={BookingPageContent}/> 
    <Feature50 content={Feature50Content}/> 
</Layout>

 