---
import Layout from "@layouts/MainLayout.astro";
import InnerHero from "@components/sections/InnerHero.astro";
import PresentKort from "@components/sections/TandemPresentKort.astro";
import TandemInfo from "@components/sections/TandemInfo.astro";
import TandemInfo2 from "@components/sections/tandeminfo2.astro";
import Carosel from "@components/sections/HeroCarosel.astro";

import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

import backgroundIMG from '@assets/images/kurs/nordosthummeln.jpg';

const customLastPart = [
  { index: "last", text: "Tandem Presentkort" },
/*   {
    "data-link": "/Tandem",
    "aria-label": "",
    text: "Tandem start",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];

const InnerHeroContent = {
  title: '',
  description: '',
  backgroundImage: backgroundIMG,
  overlayOpacity: 6,
}

---

<Layout title="Skysport Presentkort för Tandemflyg i Åre" description="" keywords="Tandemflyg, Paraglide, Presentkort, Åre">
    <InnerHero content={InnerHeroContent} />
    <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
        <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
            <svg
                slot="index"
                aria-label="Home Page"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
                points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
            <svg
                slot="separator"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </Breadcrumbs>
    </div>
    <Carosel />
    <PresentKort />
    <TandemInfo2 /> 
</Layout>
<script is:inline>
  // nav header change on white page with inner Hero
  const checkInnerHero = document.querySelector('.innerhero');
  if (checkInnerHero) {
    let lastScrollTop = 0;
    const navHeader = document.getElementById("navheader");
    let sscy = 400; 
    window.addEventListener('scroll', () => {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop; 
      if (currentScroll > sscy) {
        // Scrollar nedåt   
        navHeader.classList.add('lg:bg-slate-600/50');
        navHeader.classList.add('lg:rounded-full');
      } else {
        // Scrollar uppåt
        navHeader.classList.remove('lg:bg-slate-600/50');
        navHeader.classList.remove('lg:rounded-full');
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
    });
  }
</script> 
