---
import { Icon } from 'astro-icon/components';
---
   <div class="flex flex-1 justify-center sm:justify-end gap-x-3 sm:gap-x-1 items-center">

        <div class="text-center  px-0  sm:pt-2">
            <div class="hs-tooltip [--placement:auto] inline-block">
                <Icon id="desktop-weather" type="button" name="meteocons--windsock-fill" class=" text-3xl pt-1 sm:pt-0 sm:text-7xl" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-offcanvas-example" data-hs-overlay="#hs-offcanvas-example"/>
                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                    Väder Länkar
                </span>
            </div>
        </div>
        <div class="text-left  px-0 sm:pt-2">
            <div class="hs-tooltip [--placement:auto] inline-block">
                <Icon id="ikon-blue" type="button" name="mingcute--arrow-right-up-circle-line (3)" class=" hidden sm:text-5xl sm:text-bold text-2xl pt-1  sm:pt-0 " aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-offcanvas-kontakt" data-hs-overlay="#hs-offcanvas-kontakt"/>
                 <Icon id="ikon-white" type="button" name="mingcute--arrow-right-up-vit" class=" sm:text-5xl sm:text-bold text-2xl pt-1  sm:pt-0 " aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-offcanvas-kontakt" data-hs-overlay="#hs-offcanvas-kontakt"/>
                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                    Kontakt
                </span>
            </div>     
        </div>    
    </div>

 
 




