---
import Divider1 from  "@elements/SeparatorLine.astro";
---
<!-- for simple white pages -->
<div class="topper pt-20 bg-slate-800">
        <Divider1 />
</div>

<!-- <script is:inline>
  // nav header change on white page with inner Hero
  const checkTopper = document.querySelector('.topper');
  if (checkTopper) {
    let lastScrollTop = 0;
    const navHeader = document.getElementById("navheader");
    let sscy = 80; 
    window.addEventListener('scroll', () => {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop; 
      if (currentScroll > sscy) {
        // Scrollar nedåt   
        navHeader.classList.add('lg:bg-slate-600/50');
        navHeader.classList.add('lg:rounded-full');
      } else {
        // Scrollar uppåt
        navHeader.classList.remove('lg:bg-slate-600/50');
        navHeader.classList.remove('lg:rounded-full');
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
    });
  }
</script>  -->
