---
import Weather from "@components/sections/WeatherMenu.astro";
import WeatherMenu from "@collections/menuWeather.json";
import { Icon } from 'astro-icon/components';
const WeatherContent = {
  title: "VÄDER",
  description:
    "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan.",
  weatherLinks: WeatherMenu,
  externalLinkIcon: "external-link",
};
---
<div
      id="hs-offcanvas-example"
      class="hs-overlay  hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full max-w-xs w-full z-80 bg-white border-e border-gray-200 dark:bg-neutral-800 dark:border-neutral-700"
      role="dialog"
      tabindex="-1"
      aria-labelledby="hs-offcanvas-example-label"
    >
      <div
        class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700"
      >
        <h3
          id="hs-offcanvas-example-label"
          class="font-bold text-gray-800 dark:text-white"
        >
          Väder länkar
        </h3>
        <button
          type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
          aria-label="Close"
          data-hs-overlay="#hs-offcanvas-example"
        >
          <span class="sr-only">Close</span>
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="p-4">
        <p class="text-gray-800 dark:text-gray-200">
          <Weather content={WeatherContent} />
        </p>
      </div>
    </div>
    <!--end väder panel -->
    <!-- väder kontakt panel -->
    <div
      id="hs-offcanvas-kontakt"
      class="hs-overlay hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full max-w-xs w-full z-80 bg-white border-e border-gray-200 dark:bg-neutral-800 dark:border-neutral-700"
      role="dialog"
      tabindex="-1"
      aria-labelledby="hs-offcanvas-kontakt-label"
    >
      <div
        class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700"
      >
        <h3  id="hs-offcanvas-kontakt-label"  class="font-bold text-gray-800 dark:text-white"  >  Kontakt </h3>
        <button
          type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
          aria-label="Close"
          data-hs-overlay="#hs-offcanvas-kontakt"
        >
          <span class="sr-only">Close</span>
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="p-4 group text-xs text-gray-800 dark:text-gray-200">
          <h4 class=" text-lg font-semibold text-slate-800 dark:text-slate-200 mt-4">Skysport AB</h4>
          <p>Årevägen 173</p>
          <p>837 52, Åre, Sweden</p>
          <p>Besöksadress: Årevägen 173 (Draklanda)</p>
          <p></p>
          <p>Tel: 0647-51186</p>
          <p>Mobil 1: 070-569 90 89 (Frågor om skärmflygning)</p>
          <p>Mobil 2: 070-211 38 42 (Frågor om boende på Lake Lodge)</p>
          <p>E-post för bokning: <a href="mailto:bokning@skysport.se" class="">bokning@skysport.se</a></p>
          <p>E-post för frågor: <a href="mailto:info@skysport.se" class="">info@skysport.se</a> </p>
      </div>
          
      <div class="p-4 group  text-xs  text-gray-800 dark:text-gray-200 ">
          <h4 class=" text-lg font-semibold text-slate-800 dark:text-slate-200 mt-4">Bank information:</h4>
          <p>Organisations nr: 556430-4474</p>
          <p>Moms nummer/VAT no: SE556430447401</p>
          <p>Bankgiro: 5334-1764</p>
          <p>Swift code: SWEDSESS</p>
          <p>IBAN: SE 9780000000078871310055</p>
          <p>Bank: Swedbank Åre, Årevägen 88, 837 52 Åre</p>
          <p>SWISH: 1234659926 (mottagare Skysport AB) </p>
          <p>Kom ihåg att ange fakturanummer, eller vad betalningen avser</p>
      </div>
   
        <!--social media icons -->
      <div class="flex flex-1 justify-center  gap-x-3 sm:gap-x-6 items-center">
        <a  href="https://www.facebook.com/Skysport.se"  target="_blank" class=" "  title="Facebook">
          <div class="hs-tooltip [--placement:auto] inline-block">
              <Icon type="button" name="logos--facebook" class=" sm:text-3xl text-2l  "/>
              <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                  Följ oss på Facebook
              </span>
          </div>
      </a>
      <a  href="https://www.instagram.com/skysport_are/"  target="_blank" class=" "  title="Instagram">
        <div class="hs-tooltip [--placement:auto] inline-block">
            <Icon type="button" name="logos--instagram-icon" class=" sm:text-3xl text-2l  "/>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                Följ oss på Instagram
            </span>
        </div>
      </a>
      <a  href="https://vimeo.com/user58363115?fbclid=IwAR3oPCNzTwYeAfxtt3xHQBs413hMlK__4m6Gh4XUANqIiAzMZ70VkmA0_A8"  target="_blank" class=" "  title="Vimeo">
        <div class="hs-tooltip [--placement:auto] inline-block">
            <Icon type="button" name="logos--vimeo-icon (1)" class=" sm:text-3xl text-2l  "/>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700" role="tooltip">
                Följ oss på Vimeo
            </span>
        </div>
      </a>
    </div>
    
    <!--end kontakt panel -->