---
import { Icon } from 'astro-icon/components';

---

<div class="absolute  bottom-4 sm:bottom-auto sm:top-40 m-auto right-0 left-0  sm:left-auto  sm:right-4 w-64 bg-white md:opacity-94 rounded-lg px-2 sm:px-4 shadow-xl z-20 ">
    <div class="flex items-center justify-between">
        <Icon type="button" name="meteocons--windsock-fill" class=" sm:text-6xl text-5xl  "/>
          <!--   <div class="w-3 h-3 rounded-full bg-green-500 mr-2"></div> -->
        <div class="w-auto">
            <a href="https://meac.se/sub_2/hummeln/wind.asp"  target=_blank><span class="flex flex-row justify-between md:w-36 text-sm font-semibold text-slate-900 hover:font-bold hover:text-orange-600">Aktuel vind i Åre <Icon type="button" name="external-link" class=" sm:text-lg text-xl  "/></span></a>
            <a href="https://www.smhi.se/vader/prognoser-och-varningar/vaderprognos/q/%C3%85reskutan/%C3%85re/2725406" target=_blank><span class="flex flex-row justify-between md:w-36 text-sm font-semibold hover:font-bold text-slate-900 hover:text-orange-600">Vindprognoss Åre <Icon type="button" name="external-link" class=" sm:text-lg text-xl  "/></span></a>
        </div>  
    </div>
</div> 