---
import "../styles/global.css";
import Meta from "@ui//Meta.astro";
import TrackGa from "@widgets/TrackGa.astro";

import favIcon from "@/components/assets/images/logo.png";


interface Props {
  title?: string | undefined;
  description?: string | undefined;
  keywords?: string | undefined;
}

const { title, description, keywords } = Astro.props;


---

<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <Meta title={title} description={description} keywords={keywords} />
 
    <TrackGa />
    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>

    <link
      rel="icon"
      type="image/x-icon"
      href="../components/assets/images/logo.png"
    />
  </head>
  <body class="antialiased bg-bg-primary dark:bg-bg-primary-dark max-w-full overflow-x-hidden"  >
    
 
   
    <slot />


    
    <!-- Preline UI -->
  <script>  import "preline/dist/preline.js";    </script>

 
 <!--  <script>
        document.addEventListener("astro:page-load", async () => {
          const preline = await import("preline/dist/preline.js");
          preline.HSStaticMethods.autoInit();
        });
  </script> -->
  </body>
</html>

