<a
  href="/"
  class="h-10 text-base group relative z-30 flex items-center aspect-square"
>
  <img src="../../assets/Skysport_Logo-01-invert-468.png" alt="Logo" class="w-10 h-10 rounded-full" />
</a>

